:root {
  --bg-color: rgb(52, 145, 145);
  --top-photo-width: 45vw;
}

body {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 0;
  align-content: center;
}

section {
  margin: 2.5rem 5rem;
  width: auto;
  justify-self: center;
  max-width: 900px;
}

header,
main,
footer {
  width: 100%;
  overflow: hidden;
}

/* Create common stacking context to arrange z-index of background and section */
header {
  isolation: isolate;
}

header::before,
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

header::before {
  transform: scale(1.1, 1.3) skewY(-10deg) translateY(-130px);
}

footer::before {
  transform: scale(1.1, 1.15) translateY(15px);
}

header,
footer {
  position: relative;
}

main,
footer {
  width: 100%;
}

svg {
  height: 24px;
}

.about-me-section {
  isolation: isolate;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: min-content; */
}

.profile-photo-container {
  /* height: min-content; */
  z-index: 2;
  flex-direction: column;
  justify-items: center;
}

.profile-photo-container img {
  position: relative;
  isolation: isolate;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

h1 {
  font-size: 2.5rem;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  margin: 0;
}

h1,
h2 {
  font-family: Yeseva One, Courier, serif;
}

.profile-photo-container h1 {
  position: relative;
  text-align: center;
  z-index: 2;
  margin-top: -3.5rem;
  color: white;
}

.about-me-text {
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 1rem 1.5rem;
  z-index: 1;
}

.links-top {
  justify-self: end;
}

a {
  text-decoration: none;
}

.portfolio-container {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  flex: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.portfolio-card img {
  height: 175px;
  object-fit: cover;
}

.project-text {
  padding: 1rem 1.5rem;
}

.portfolio-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

.top-decoration,
.bottom-decoration {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 0, 0);
}

footer {
  isolation: isolate;
}

.contact-section {
  isolation: isolate;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-line svg {
  fill: white;
  margin-right: 0.5rem;
}

.bottom-links {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1rem;
}

.bottom-links svg {
  height: 35px;
  width: 35px;
}

/* TODO: Tablet layout */
@media (359px < width < 800px) {
  header::before {
    bottom: 30%;
  }

  section {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .about-me-section {
    display: block;
    isolation: isolate;
  }

  .profile-photo-container {
    position: relative;
    width: min-content;
    float: left;
    margin: -100px 1.5rem 1rem -1rem;
  }

  .profile-photo-container img {
    width: var(--top-photo-width);
  }

  .profile-photo-container h1 {
    position: absolute;
    width: calc(100vw - 6.5rem);
    text-align: right;
    top: 25%;
  }

  .about-me-text h2 {
    text-align: center;
  }

  .about-me-text {
    position: relative;
    margin-left: 50px;
    margin-top: 150px;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .links-top {
    display: none;
  }
}

/* TODO: Mobile layout */
@media (width < 360px) {
  header::before {
    margin-top: -450px;
  }

  h2 {
    text-align: center;
  }

  .contact-section {
    margin-bottom: 0;
  }

  .contact {
    width: 80vw;
    align-self: center;
  }

  .about-me-text {
    box-shadow: none;
  }

  .about-me-section {
    flex-direction: column;
  }

  .links-top {
    justify-self: center;
  }

  .contact-section {
    flex-direction: column;
  }

  .bottom-links {
    justify-self: center;
  }

  .contact-section img {
    width: 100vw;
    height: auto;
    margin-top: 4rem;
  }

  .contact-line p {
    margin: 0.5rem 0;
  }

  .contact-line svg:nth-child(1) {
    display: none;
  }

  .profile-photo-container img {
    width: 80vw;
  }

  .profile-photo-container h1 {
    text-align: left;
    margin: -6.5rem 0 0 1rem;
  }
}
