.portfolio-container {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  box-shadow: 0 0 5px black;
}

.portfolio-card img {
  object-fit: cover;
  height: 175px;
}

.project-text {
  padding: 1rem 1.5rem;
}

.portfolio-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}
